* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/static/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'MontserratBold';
  src: url('../public/fonts/static/Montserrat-Bold.ttf');
}
a{
  color: #ffca33;
  text-decoration: underline;
}
@media only screen and (max-width: 1920px){
  body{
    width: 1920px;
  }
}