.TaskForStreamContainer {
    background-image: url("/imgHeader/main-pic.webp");
    height: 721px;
    padding-top: 25px;
    background-size: cover;
    background-repeat: repeat;
}

.TaskForStreamLogoContainer {
    display: flex;
    justify-content: center;

}

.TaskForStreamText {
    display: flex;
    justify-content: center;
    width: 1140px;
    margin: 0 auto;
}

.TaskForStreamButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
}

.TaskButton {
    width: 360px;
    height: 95px;
    background-color: #fec631;
    border: none;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.TaskButton:hover {
    cursor: pointer;
}

.TextTaskButton {
    font-family: 'MontserratBold';
    font-size: 24px;
    color: #2c2525;
}

.textStyle {
    font-family: 'MontserratBold';
    font-size: 54px;
    color: #ffffff;
    padding-left: '150px';
    padding-right: '90px';
    padding-top: '35px';
}

.yellowTextStyle {
    color: yellow;
    font-family: 'MontserratBold';
    font-size: 54px;
}

.centerSpan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.battleNET {
    margin-left: 15px
}


@media (max-width: 768px) {
    .TaskForStreamContainer {
        background-image: url("/imgHeader/main-pic.webp");
        height: auto; /* Автоматическая высота контейнера */
        padding-top: 15px; /* Уменьшаем верхний внутренний отступ */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; /* Центрируем фоновое изображение */
    }

    .TaskForStreamText {
        width: 90%; /* Занимает 90% ширины родительского контейнера */
        padding: 20px 5%; /* Внутренние отступы по вертикали 20px, по горизонтали 5% */
    }

    .TaskForStreamButtonContainer {
        padding-bottom: 35px; /* Добавляем нижний внутренний отступ */
    }

    .TaskButton {
        width: 80%; /* Занимает 80% ширины родительского контейнера */
        max-width: 360px; /* Максимальная ширина 360px */
    }

    .textStyle {
        font-size: 30px; /* Размер текста */
        padding: 20px 0; /* Внутренние отступы по вертикали 20px, по горизонтали 0 */
    }

    .yellowTextStyle {
        font-size: 30px; /* Размер текста */
    }
}
