.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
    background-image: url('/imgHeader/bg-modal.png');
    width: 608px;
    height: 682px;
}


.CloseButton {
    position: absolute;
    top: 50px;
    right: 40px;
    cursor: pointer;
    color: #ffffff;
    background: none;
    background-image: url('/imgHeader/close_btn.png');
    width: 20px;
    height: 21px;
    border: none;
}

.ModalName {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    font-family: 'MontserratBold';
    font-size: 32px;
    color: #ffca33;
    height: 95px;
    align-items: center;
}

.ModalTask {
    height: 155px;
    font-family: 'Montserrat';
    font-size: 18px;
    padding-left: 35px;
    padding-right: 35px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ModalContent::-webkit-scrollbar {
    display: none;
}

.ModalClientAmount {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-family: 'MontserratBold';
    padding-left: 115px;
    padding-right: 115px;
    margin-top: 26px;
}

.ModalComplexityTaskStatus {
    display: flex;
    justify-content: space-between;
    height: 110px;
    align-items: center;
    font-family: 'MontserratBold';
    padding-left: 115px;
    padding-right: 115px;
}

.ModalClient {
    display: flex;
    flex-direction: column;
}

.ModalClientText {
    font-family: 'MontserratBold';
    font-size: 22px;
    color: #0567a5;
}

.ModalAmount {
    display: flex;
    color: #ffca33;
    width: 100px;
}

.ModalComplexity {
    display: flex;
    flex-direction: column;
}

.ModalTaskStatus {
    display: flex;
    flex-direction: column;
}

.ModalStarsContainer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.ModalStars {
    width: 125px;
    height: 125px;
    margin: -25px;
}